.footer-container {
    background-color: rgb(124, 124, 124);
    width: 100%;
}

.footer-container-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px 5%;
    color: white;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-container-categories a {
    color: white;
    text-decoration: none;
}

.footer-container-categories a:hover {
    text-decoration: underline;
}

.footer-container-categories ul {
    padding: 0 20px;
}

@media (max-width: 768px) {
    .footer-container-categories {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }
}